* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: blue;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

header {
    width: 100%;
    background-color: gray;
    position: relative;
}

img {
    display: inline-block;
    margin: 10px;

}

nav {
    position: absolute;
    top: 0;
    right: 0;
    border: 1px solid black;
    margin: 10px;
}

h1 {
    display: inline-block;
    vertical-align:text-bottom;
    margin: 10px;
}

main {
    max-width: 960px;
    margin: 0 auto;

}

footer {
    width: 100%;
    background-color: gray;
}

main {
    text-align: center;
}

ul, table, form{
    margin: 10px 0px 10px 0px;
}

table {
    border: 1px solid black;
    margin: 0 auto;
}

td {
    border: 1px solid black;
}

.odd {
    background-color: lightgray;
}

.even {
    background-color: grey;
}

form label:not(.radioGender) {
    display: block;
    margin: 5px 0px 5px 0px;
}







